# API Configuration
EXPO_PUBLIC_API_BASE_URL=https://api.freeapi.app/

# Feature Flags
EXPO_PUBLIC_ENABLE_SENTRY=false
EXPO_PUBLIC_ENABLE_ANALYTICS=false
EXPO_PUBLIC_ENABLE_AI_RECOMMENDATIONS=false

# Optional
SENTRY_DSN=
OPENAI_API_KEY=
